.header {
  width: 30rem;
  height: 5rem;
  border-radius: 10px;
  border: 2px solid rgb(255, 196, 0);
  padding: 0.5rem 1rem;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header p {
  font-size: 1.5rem;
  font-family: sans-serif;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: monospace;
}

@media only screen and (max-width: 370px) {
  .header {
    width: 80%;
    margin: 1rem auto;
  }
}
