.reset-btn {
  width: 20rem;
  height: 5rem;
  border: 3px solid green;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 0 auto;
  cursor: pointer;
}
